div[class*="explore"] {
    display: block !important;
    opacity: 1;
    margin: auto;
    margin-top:13px;
}
div[class*="explore"] > div {
    display: block !important;
    opacity: 1;
}
div[class*="__explore-container"] {
    display: none !important;
    opacity: 1;
}
span[class*="dismiss-button"] {
	display:none !important;
}
div#rso div.srg div.g > div {
    display: block !important;
}
textarea#kws {
	width: 100%;
	height: 200px;
}
iframe#kwsmm {
	width: 100%;
	height: 600px;	
}
#mm_login_link {
	text-decoration: underline !important;
	color: blue;
}
